In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Loading CSV

In [2]:
!ls /home/dcs/Data/us_dot/traffic/

ls: cannot access '/home/dcs/Data/us_dot/traffic/': No such file or directory

In [3]:
!ls /home/dani/repos/master-data-science/data/us_dot/traffic/

T100_SEGMENT_ALL_CARRIER_2014.zip  T100_SEGMENT_ALL_CARRIER_2015.zip

In [4]:
!unzip -o /home/dani/repos/master-data-science/data/us_dot/traffic/T100_SEGMENT_ALL_CARRIER_2015.zip

Archive:  /home/dani/repos/master-data-science/data/us_dot/traffic/T100_SEGMENT_ALL_CARRIER_2015.zip
  inflating: 914310910_T_T100_SEGMENT_ALL_CARRIER_2015_All.csv
  inflating: 914310910_T_T100_SEGMENT_ALL_CARRIER_ReadMe.csv
  inflating: 914310910_T_T100_SEGMENT_ALL_CARRIER_Terms.csv

In [10]:
filename = '914310910_T_T100_SEGMENT_ALL_CARRIER_2015_All.csv'

df = pd.read_csv(filename)
df.head()

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,PAYLOAD,SEATS,PASSENGERS,FREIGHT,MAIL,DISTANCE,RAMP_TO_RAMP,AIR_TIME,...,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,DATA_SOURCE,Unnamed: 50
0,0.0,1.0,528.0,11.0,2.0,0.0,0.0,3899.0,0.0,0.0,...,6,669,1,2015,1,1,8,L,IF,NaN
1,0.0,2.0,3621.0,22.0,2.0,0.0,0.0,2589.0,0.0,0.0,...,6,669,1,2015,1,1,6,L,IF,NaN
2,0.0,1.0,2169.0,11.0,2.0,0.0,0.0,1210.0,0.0,0.0,...,6,669,1,2015,1,1,3,L,DF,NaN
3,0.0,1.0,1342.0,11.0,1.0,0.0,0.0,2316.0,0.0,0.0,...,6,669,1,2015,1,1,5,L,IF,NaN
4,0.0,1.0,275.0,11.0,1.0,0.0,0.0,1023.0,0.0,0.0,...,6,669,1,2015,1,1,3,L,DF,NaN

In [22]:
df.sample(5)

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,PAYLOAD,SEATS,PASSENGERS,FREIGHT,MAIL,DISTANCE,RAMP_TO_RAMP,AIR_TIME,...,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,DATA_SOURCE,Unnamed: 50
28763,0.0,1.0,3000.0,13.0,0.0,0.0,0.0,42.0,28.0,16.0,...,6,641,1,2015,1,3,1,L,DU,NaN
123890,41.0,40.0,1555160.0,5995.0,4718.0,3979.0,436.0,532.0,3918.0,3128.0,...,6,694,1,2015,1,2,2,F,DU,NaN
138084,80.0,73.0,901550.0,3650.0,2344.0,155.0,0.0,500.0,6766.0,5042.0,...,6,675,1,2015,1,3,2,F,DU,NaN
8193,0.0,1.0,34600.0,143.0,4.0,0.0,0.0,605.0,115.0,97.0,...,6,612,1,2015,1,1,2,F,DU,NaN
113692,29.0,29.0,1016790.0,4350.0,3962.0,267.0,0.0,1197.0,5546.0,4945.0,...,6,694,1,2015,2,4,3,F,DU,NaN

In [26]:
pd.options.display.max_columns = None
df.head()

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,PAYLOAD,SEATS,PASSENGERS,FREIGHT,MAIL,DISTANCE,RAMP_TO_RAMP,AIR_TIME,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER,CARRIER_NAME,CARRIER_GROUP,CARRIER_GROUP_NEW,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_FIPS,ORIGIN_STATE_NM,ORIGIN_COUNTRY,ORIGIN_COUNTRY_NAME,ORIGIN_WAC,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST_CITY_MARKET_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_FIPS,DEST_STATE_NM,DEST_COUNTRY,DEST_COUNTRY_NAME,DEST_WAC,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,DATA_SOURCE,Unnamed: 50
0,0.0,1.0,528.0,11.0,2.0,0.0,0.0,3899.0,0.0,0.0,10Q,21407.0,Swiss Air Ambulance,71084,I,10Q,Swiss Air Ambulance,0,0.0,11618,1161802,31703,EWR,"Newark, NJ",NJ,34.0,New Jersey,US,United States,21,10762,1076203,30762,BSL,"Mulhouse, France",NaN,NaN,NaN,FR,France,427,6,669,1,2015,1,1,8,L,IF,NaN
1,0.0,2.0,3621.0,22.0,2.0,0.0,0.0,2589.0,0.0,0.0,10Q,21407.0,Swiss Air Ambulance,71084,I,10Q,Swiss Air Ambulance,0,0.0,12651,1265101,32651,KEF,"Keflavik/Reykjavik, Iceland",NaN,NaN,NaN,IS,Iceland,439,15167,1516702,35167,TEB,"Teterboro, NJ",NJ,34.0,New Jersey,US,United States,21,6,669,1,2015,1,1,6,L,IF,NaN
2,0.0,1.0,2169.0,11.0,2.0,0.0,0.0,1210.0,0.0,0.0,10Q,21407.0,Swiss Air Ambulance,71084,I,10Q,Swiss Air Ambulance,0,0.0,12889,1288903,32211,LAS,"Las Vegas, NV",NV,32.0,Nevada,US,United States,85,13256,1325602,33256,MFE,"Mission/McAllen/Edinburg, TX",TX,48.0,Texas,US,United States,74,6,669,1,2015,1,1,3,L,DF,NaN
3,0.0,1.0,1342.0,11.0,1.0,0.0,0.0,2316.0,0.0,0.0,10Q,21407.0,Swiss Air Ambulance,71084,I,10Q,Swiss Air Ambulance,0,0.0,13256,1325602,33256,MFE,"Mission/McAllen/Edinburg, TX",TX,48.0,Texas,US,United States,74,16085,1608503,36085,YHZ,"Halifax, Canada",NS,NaN,Nova Scotia,CA,Canada,951,6,669,1,2015,1,1,5,L,IF,NaN
4,0.0,1.0,275.0,11.0,1.0,0.0,0.0,1023.0,0.0,0.0,10Q,21407.0,Swiss Air Ambulance,71084,I,10Q,Swiss Air Ambulance,0,0.0,14027,1402702,34027,PBI,"West Palm Beach/Palm Beach, FL",FL,12.0,Florida,US,United States,33,11618,1161802,31703,EWR,"Newark, NJ",NJ,34.0,New Jersey,US,United States,21,6,669,1,2015,1,1,3,L,DF,NaN

# Saving to Excel

In [23]:
df.head(1000).to_excel('excel_output.xls')

# Saving to CSV

In [27]:
df.sample(10).to_csv('sample.csv')

In [29]:
df.sample(3).to_csv()

',DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,PAYLOAD,SEATS,PASSENGERS,FREIGHT,MAIL,DISTANCE,RAMP_TO_RAMP,AIR_TIME,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER,CARRIER_NAME,CARRIER_GROUP,CARRIER_GROUP_NEW,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_FIPS,ORIGIN_STATE_NM,ORIGIN_COUNTRY,ORIGIN_COUNTRY_NAME,ORIGIN_WAC,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST_CITY_MARKET_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_FIPS,DEST_STATE_NM,DEST_COUNTRY,DEST_COUNTRY_NAME,DEST_WAC,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,DATA_SOURCE,Unnamed: 50\n71209,3.0,3.0,130200.0,525.0,374.0,2155.0,0.0,1062.0,485.0,440.0,WN,19393.0,Southwest Airlines Co.,06725,D,WN,Southwest Airlines Co.,3,3.0,13495,1349503,33495,MSY,"New Orleans, LA",LA,22.0,Louisiana,US,United States,72,11292,1129202,30325,DEN,"Denver, CO",CO,8.0,Colorado,US,United States,82,6,614,1,2015,1,3,3,F,DU,\n20919,0.0,1.0,1750.0,9.0,0.0,0.0,0.0,150.0,50.0,46.0,8E,20331.0,Bering Air Inc.,06992,D,8E,Bering Air Inc.,1,5.0,13970,1397002,33970,OTZ,"Kotzebue, AK",AK,2.0,Alaska,US,United States,1,14102,1410203,34102,PHO,"Point Hope, AK",AK,2.0,Alaska,US,United States,1,1,194,1,2015,1,3,1,L,DU,\n67723,2.0,2.0,20180.0,88.0,57.0,0.0,0.0,634.0,236.0,205.0,MQ,20398.0,Envoy Air,16820,L,MQ,Envoy Air,3,3.0,11298,1129803,30194,DFW,"Dallas/Fort Worth, TX",TX,48.0,Texas,US,United States,74,15317,1531702,35317,TRC,"Torreon, Mexico",,,,MX,Mexico,148,6,676,1,2015,1,2,2,F,IU,\n'

In [31]:
s = 'a\nb'
len(s)

3

In [32]:
print(s)

a
b

# To Sql Database

In [36]:
import sqlite3

conn = sqlite3.connect('example.db')

In [39]:
df.to_sql('traffic', conn, if_exists='replace')

/home/dani/anaconda3/envs/master-p3/lib/python3.6/site-packages/pandas/core/generic.py:1362: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  chunksize=chunksize, dtype=dtype)

# Reading mysql database

In [42]:
df2 = pd.read_sql_query('SELECT * FROM traffic WHERE PASSENGERS > 10000',
                        conn)

df2.head()

,index,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,PAYLOAD,SEATS,PASSENGERS,FREIGHT,MAIL,DISTANCE,RAMP_TO_RAMP,AIR_TIME,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER,CARRIER_NAME,CARRIER_GROUP,CARRIER_GROUP_NEW,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_FIPS,ORIGIN_STATE_NM,ORIGIN_COUNTRY,ORIGIN_COUNTRY_NAME,ORIGIN_WAC,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST_CITY_MARKET_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_FIPS,DEST_STATE_NM,DEST_COUNTRY,DEST_COUNTRY_NAME,DEST_WAC,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,DATA_SOURCE,Unnamed: 50
0,37,0.0,61.0,5365411.0,18353.0,16933.0,571685.0,0.0,4395.0,0.0,0.0,AF,19532.0,Compagnie Natl Air France,9427B,I,AF,Compagnie Natl Air France,0,0.0,10397,1039705,30397,ATL,"Atlanta, GA",GA,13.0,Georgia,US,United States,34,10920,1092003,30920,CDG,"Paris, France",None,NaN,None,FR,France,427,6,627,1,2015,1,1,9,F,IF,None
1,42,0.0,61.0,5365411.0,18353.0,16827.0,1274568.0,0.0,4395.0,0.0,0.0,AF,19532.0,Compagnie Natl Air France,9427B,I,AF,Compagnie Natl Air France,0,0.0,10920,1092003,30920,CDG,"Paris, France",None,NaN,None,FR,France,427,10397,1039705,30397,ATL,"Atlanta, GA",GA,13.0,Georgia,US,United States,34,6,627,1,2015,1,1,9,F,IF,None
2,56,0.0,28.0,3619370.0,14448.0,12556.0,478166.0,0.0,3635.0,0.0,0.0,AF,19532.0,Compagnie Natl Air France,9427B,I,AF,Compagnie Natl Air France,0,0.0,10920,1092003,30920,CDG,"Paris, France",None,NaN,None,FR,France,427,12478,1247802,31703,JFK,"New York, NY",NY,36.0,New York,US,United States,22,8,882,1,2015,1,1,8,F,IF,None
3,58,0.0,31.0,4054899.0,15996.0,13913.0,423487.0,0.0,5670.0,0.0,0.0,AF,19532.0,Compagnie Natl Air France,9427B,I,AF,Compagnie Natl Air France,0,0.0,10920,1092003,30920,CDG,"Paris, France",None,NaN,None,FR,France,427,12892,1289203,32575,LAX,"Los Angeles, CA",CA,6.0,California,US,United States,91,8,882,1,2015,1,1,12,F,IF,None
4,59,0.0,27.0,3470887.0,13836.0,12888.0,413138.0,0.0,4589.0,0.0,0.0,AF,19532.0,Compagnie Natl Air France,9427B,I,AF,Compagnie Natl Air France,0,0.0,10920,1092003,30920,CDG,"Paris, France",None,NaN,None,FR,France,427,13303,1330303,32467,MIA,"Miami, FL",FL,12.0,Florida,US,United States,33,8,882,1,2015,1,1,10,F,IF,None

# To dictionary and to json

In [44]:
df.sample(5).to_dict()

{'AIRCRAFT_CONFIG': {55530: 1, 107569: 1, 120064: 1, 140503: 1, 146932: 1},
 'AIRCRAFT_GROUP': {55530: 6, 107569: 6, 120064: 6, 140503: 6, 146932: 4},
 'AIRCRAFT_TYPE': {55530: 698,
  107569: 631,
  120064: 694,
  140503: 629,
  146932: 482},
 'AIRLINE_ID': {55530: 20355.0,
  107569: 20304.0,
  120064: 19977.0,
  140503: 20046.0,
  146932: 19687.0},
 'AIR_TIME': {55530: 51.0,
  107569: 3120.0,
  120064: 2674.0,
  140503: 2310.0,
  146932: 26808.0},
 'CARRIER': {55530: 'US',
  107569: 'OO',
  120064: 'UA',
  140503: 'ZW',
  146932: 'QX'},
 'CARRIER_GROUP': {55530: 3, 107569: 3, 120064: 3, 140503: 2, 146932: 2},
 'CARRIER_GROUP_NEW': {55530: 3.0,
  107569: 3.0,
  120064: 3.0,
  140503: 2.0,
  146932: 2.0},
 'CARRIER_NAME': {55530: 'US Airways Inc.',
  107569: 'SkyWest Airlines Inc.',
  120064: 'United Air Lines Inc.',
  140503: 'Air Wisconsin Airlines Corp',
  146932: 'Horizon Air'},
 'CLASS': {55530: 'F', 107569: 'F', 120064: 'F', 140503: 'F', 146932: 'F'},
 'DATA_SOURCE': {55530: 'DU',
  107569: 'DU',
  120064: 'DU',
  140503: 'DU',
  146932: 'DU'},
 'DEPARTURES_PERFORMED': {55530: 1.0,
  107569: 26.0,
  120064: 33.0,
  140503: 82.0,
  146932: 727.0},
 'DEPARTURES_SCHEDULED': {55530: 1.0,
  107569: 26.0,
  120064: 33.0,
  140503: 92.0,
  146932: 752.0},
 'DEST': {55530: 'PHX',
  107569: 'DFW',
  120064: 'DCA',
  140503: 'PHL',
  146932: 'PDX'},
 'DEST_AIRPORT_ID': {55530: 14107,
  107569: 11298,
  120064: 11278,
  140503: 14100,
  146932: 14057},
 'DEST_AIRPORT_SEQ_ID': {55530: 1410702,
  107569: 1129803,
  120064: 1127802,
  140503: 1410002,
  146932: 1405702},
 'DEST_CITY_MARKET_ID': {55530: 30466,
  107569: 30194,
  120064: 30852,
  140503: 34100,
  146932: 34057},
 'DEST_CITY_NAME': {55530: 'Phoenix, AZ',
  107569: 'Dallas/Fort Worth, TX',
  120064: 'Washington, DC',
  140503: 'Philadelphia, PA',
  146932: 'Portland, OR'},
 'DEST_COUNTRY': {55530: 'US',
  107569: 'US',
  120064: 'US',
  140503: 'US',
  146932: 'US'},
 'DEST_COUNTRY_NAME': {55530: 'United States',
  107569: 'United States',
  120064: 'United States',
  140503: 'United States',
  146932: 'United States'},
 'DEST_STATE_ABR': {55530: 'AZ',
  107569: 'TX',
  120064: 'VA',
  140503: 'PA',
  146932: 'OR'},
 'DEST_STATE_FIPS': {55530: 4.0,
  107569: 48.0,
  120064: 51.0,
  140503: 42.0,
  146932: 41.0},
 'DEST_STATE_NM': {55530: 'Arizona',
  107569: 'Texas',
  120064: 'Virginia',
  140503: 'Pennsylvania',
  146932: 'Oregon'},
 'DEST_WAC': {55530: 81, 107569: 74, 120064: 38, 140503: 23, 146932: 92},
 'DISTANCE': {55530: 328.0,
  107569: 802.0,
  120064: 612.0,
  140503: 80.0,
  146932: 129.0},
 'DISTANCE_GROUP': {55530: 1, 107569: 2, 120064: 2, 140503: 1, 146932: 1},
 'FREIGHT': {55530: 0.0,
  107569: 0.0,
  120064: 185.0,
  140503: 355.0,
  146932: 17728.0},
 'MAIL': {55530: 0.0, 107569: 0.0, 120064: 0.0, 140503: 0.0, 146932: 0.0},
 'MONTH': {55530: 2, 107569: 1, 120064: 2, 140503: 1, 146932: 3},
 'ORIGIN': {55530: 'ABQ',
  107569: 'ORD',
  120064: 'ORD',
  140503: 'EWR',
  146932: 'SEA'},
 'ORIGIN_AIRPORT_ID': {55530: 10140,
  107569: 13930,
  120064: 13930,
  140503: 11618,
  146932: 14747},
 'ORIGIN_AIRPORT_SEQ_ID': {55530: 1014003,
  107569: 1393003,
  120064: 1393003,
  140503: 1161802,
  146932: 1474703},
 'ORIGIN_CITY_MARKET_ID': {55530: 30140,
  107569: 30977,
  120064: 30977,
  140503: 31703,
  146932: 30559},
 'ORIGIN_CITY_NAME': {55530: 'Albuquerque, NM',
  107569: 'Chicago, IL',
  120064: 'Chicago, IL',
  140503: 'Newark, NJ',
  146932: 'Seattle, WA'},
 'ORIGIN_COUNTRY': {55530: 'US',
  107569: 'US',
  120064: 'US',
  140503: 'US',
  146932: 'US'},
 'ORIGIN_COUNTRY_NAME': {55530: 'United States',
  107569: 'United States',
  120064: 'United States',
  140503: 'United States',
  146932: 'United States'},
 'ORIGIN_STATE_ABR': {55530: 'NM',
  107569: 'IL',
  120064: 'IL',
  140503: 'NJ',
  146932: 'WA'},
 'ORIGIN_STATE_FIPS': {55530: 35.0,
  107569: 17.0,
  120064: 17.0,
  140503: 34.0,
  146932: 53.0},
 'ORIGIN_STATE_NM': {55530: 'New Mexico',
  107569: 'Illinois',
  120064: 'Illinois',
  140503: 'New Jersey',
  146932: 'Washington'},
 'ORIGIN_WAC': {55530: 86, 107569: 41, 120064: 41, 140503: 21, 146932: 93},
 'PASSENGERS': {55530: 109.0,
  107569: 1741.0,
  120064: 3290.0,
  140503: 2899.0,
  146932: 44565.0},
 'PAYLOAD': {55530: 36400.0,
  107569: 465710.0,
  120064: 1158670.0,
  140503: 1924998.0,
  146932: 12940600.0},
 'QUARTER': {55530: 1, 107569: 1, 120064: 1, 140503: 1, 146932: 1},
 'RAMP_TO_RAMP': {55530: 60.0,
  107569: 3843.0,
  120064: 3729.0,
  140503: 4619.0,
  146932: 32687.0},
 'REGION': {55530: 'D', 107569: 'D', 120064: 'D', 140503: 'D', 146932: 'D'},
 'SEATS': {55530: 124.0,
  107569: 1820.0,
  120064: 4950.0,
  140503: 4100.0,
  146932: 55252.0},
 'UNIQUE_CARRIER': {55530: 'US',
  107569: 'OO',
  120064: 'UA',
  140503: 'ZW',
  146932: 'QX'},
 'UNIQUE_CARRIER_ENTITY': {55530: '02040',
  107569: '06700',
  120064: '0A875',
  140503: '06024',
  146932: '06580'},
 'UNIQUE_CARRIER_NAME': {55530: 'US Airways Inc.',
  107569: 'SkyWest Airlines Inc.',
  120064: 'United Air Lines Inc.',
  140503: 'Air Wisconsin Airlines Corp',
  146932: 'Horizon Air'},
 'Unnamed: 50': {55530: nan,
  107569: nan,
  120064: nan,
  140503: nan,
  146932: nan},
 'YEAR': {55530: 2015, 107569: 2015, 120064: 2015, 140503: 2015, 146932: 2015}}

In [48]:
df.sample(5).to_json()

'{"DEPARTURES_SCHEDULED":{"116846":31.0,"91947":13.0,"113549":29.0,"55565":1.0,"87427":10.0},"DEPARTURES_PERFORMED":{"116846":31.0,"91947":13.0,"113549":29.0,"55565":1.0,"87427":0.0},"PAYLOAD":{"116846":899000.0,"91947":149318.0,"113549":1499300.0,"55565":25500.0,"87427":0.0},"SEATS":{"116846":4495.0,"91947":650.0,"113549":5423.0,"55565":99.0,"87427":0.0},"PASSENGERS":{"116846":4086.0,"91947":594.0,"113549":3376.0,"55565":95.0,"87427":0.0},"FREIGHT":{"116846":0.0,"91947":0.0,"113549":931.0,"55565":0.0,"87427":0.0},"MAIL":{"116846":0.0,"91947":0.0,"113549":7844.0,"55565":0.0,"87427":0.0},"DISTANCE":{"116846":1005.0,"91947":636.0,"113549":1009.0,"55565":290.0,"87427":617.0},"RAMP_TO_RAMP":{"116846":5733.0,"91947":1779.0,"113549":4436.0,"55565":64.0,"87427":0.0},"AIR_TIME":{"116846":4723.0,"91947":1326.0,"113549":3567.0,"55565":48.0,"87427":0.0},"UNIQUE_CARRIER":{"116846":"NK","91947":"S5","113549":"US","55565":"US","87427":"DL"},"AIRLINE_ID":{"116846":20416.0,"91947":20448.0,"113549":20355.0,"55565":20355.0,"87427":19790.0},"UNIQUE_CARRIER_NAME":{"116846":"Spirit Air Lines","91947":"Shuttle America Corp.","113549":"US Airways Inc.","55565":"US Airways Inc.","87427":"Delta Air Lines Inc."},"UNIQUE_CARRIER_ENTITY":{"116846":"06830","91947":"06911","113549":"02040","55565":"02040","87427":"10260"},"REGION":{"116846":"D","91947":"D","113549":"D","55565":"D","87427":"L"},"CARRIER":{"116846":"NK","91947":"S5","113549":"US","55565":"US","87427":"DL"},"CARRIER_NAME":{"116846":"Spirit Air Lines","91947":"Shuttle America Corp.","113549":"US Airways Inc.","55565":"US Airways Inc.","87427":"Delta Air Lines Inc."},"CARRIER_GROUP":{"116846":3,"91947":2,"113549":3,"55565":3,"87427":3},"CARRIER_GROUP_NEW":{"116846":3.0,"91947":2.0,"113549":3.0,"55565":3.0,"87427":3.0},"ORIGIN_AIRPORT_ID":{"116846":13204,"91947":12478,"113549":14107,"55565":11057,"87427":13204},"ORIGIN_AIRPORT_SEQ_ID":{"116846":1320402,"91947":1247802,"113549":1410702,"55565":1105703,"87427":1320402},"ORIGIN_CITY_MARKET_ID":{"116846":31454,"91947":31703,"113549":30466,"55565":31057,"87427":31454},"ORIGIN":{"116846":"MCO","91947":"JFK","113549":"PHX","55565":"CLT","87427":"MCO"},"ORIGIN_CITY_NAME":{"116846":"Orlando, FL","91947":"New York, NY","113549":"Phoenix, AZ","55565":"Charlotte, NC","87427":"Orlando, FL"},"ORIGIN_STATE_ABR":{"116846":"FL","91947":"NY","113549":"AZ","55565":"NC","87427":"FL"},"ORIGIN_STATE_FIPS":{"116846":12.0,"91947":36.0,"113549":4.0,"55565":37.0,"87427":12.0},"ORIGIN_STATE_NM":{"116846":"Florida","91947":"New York","113549":"Arizona","55565":"North Carolina","87427":"Florida"},"ORIGIN_COUNTRY":{"116846":"US","91947":"US","113549":"US","55565":"US","87427":"US"},"ORIGIN_COUNTRY_NAME":{"116846":"United States","91947":"United States","113549":"United States","55565":"United States","87427":"United States"},"ORIGIN_WAC":{"116846":33,"91947":22,"113549":81,"55565":36,"87427":33},"DEST_AIRPORT_ID":{"116846":13930,"91947":10994,"113549":12266,"55565":13931,"87427":11032},"DEST_AIRPORT_SEQ_ID":{"116846":1393003,"91947":1099402,"113549":1226603,"55565":1393102,"87427":1103201},"DEST_CITY_MARKET_ID":{"116846":30977,"91947":30994,"113549":31453,"55565":33667,"87427":31032},"DEST":{"116846":"ORD","91947":"CHS","113549":"IAH","55565":"ORF","87427":"CUN"},"DEST_CITY_NAME":{"116846":"Chicago, IL","91947":"Charleston, SC","113549":"Houston, TX","55565":"Norfolk, VA","87427":"Cancun, Mexico"},"DEST_STATE_ABR":{"116846":"IL","91947":"SC","113549":"TX","55565":"VA","87427":null},"DEST_STATE_FIPS":{"116846":17.0,"91947":45.0,"113549":48.0,"55565":51.0,"87427":null},"DEST_STATE_NM":{"116846":"Illinois","91947":"South Carolina","113549":"Texas","55565":"Virginia","87427":null},"DEST_COUNTRY":{"116846":"US","91947":"US","113549":"US","55565":"US","87427":"MX"},"DEST_COUNTRY_NAME":{"116846":"United States","91947":"United States","113549":"United States","55565":"United States","87427":"Mexico"},"DEST_WAC":{"116846":41,"91947":37,"113549":74,"55565":38,"87427":148},"AIRCRAFT_GROUP":{"116846":6,"91947":6,"113549":6,"55565":6,"87427":6},"AIRCRAFT_TYPE":{"116846":698,"91947":675,"113549":699,"55565":678,"87427":656},"AIRCRAFT_CONFIG":{"116846":1,"91947":1,"113549":1,"55565":1,"87427":1},"YEAR":{"116846":2015,"91947":2015,"113549":2015,"55565":2015,"87427":2015},"QUARTER":{"116846":1,"91947":2,"113549":2,"55565":1,"87427":1},"MONTH":{"116846":1,"91947":4,"113549":4,"55565":2,"87427":1},"DISTANCE_GROUP":{"116846":3,"91947":2,"113549":3,"55565":1,"87427":2},"CLASS":{"116846":"F","91947":"F","113549":"F","55565":"F","87427":"F"},"DATA_SOURCE":{"116846":"DU","91947":"DU","113549":"DU","55565":"DU","87427":"IU"},"Unnamed: 50":{"116846":null,"91947":null,"113549":null,"55565":null,"87427":null}}'

# Reading Excel

In [50]:
pd.read_excel('excel_output.xls').head()

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,PAYLOAD,SEATS,PASSENGERS,FREIGHT,MAIL,DISTANCE,RAMP_TO_RAMP,AIR_TIME,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER,CARRIER_NAME,CARRIER_GROUP,CARRIER_GROUP_NEW,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_FIPS,ORIGIN_STATE_NM,ORIGIN_COUNTRY,ORIGIN_COUNTRY_NAME,ORIGIN_WAC,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST_CITY_MARKET_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_FIPS,DEST_STATE_NM,DEST_COUNTRY,DEST_COUNTRY_NAME,DEST_WAC,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,DATA_SOURCE,Unnamed: 50
0,0,1,528,11,2,0,0,3899,0,0,10Q,21407,Swiss Air Ambulance,71084,I,10Q,Swiss Air Ambulance,0,0,11618,1161802,31703,EWR,"Newark, NJ",NJ,34.0,New Jersey,US,United States,21,10762,1076203,30762,BSL,"Mulhouse, France",NaN,NaN,NaN,FR,France,427,6,669,1,2015,1,1,8,L,IF,NaN
1,0,2,3621,22,2,0,0,2589,0,0,10Q,21407,Swiss Air Ambulance,71084,I,10Q,Swiss Air Ambulance,0,0,12651,1265101,32651,KEF,"Keflavik/Reykjavik, Iceland",NaN,NaN,NaN,IS,Iceland,439,15167,1516702,35167,TEB,"Teterboro, NJ",NJ,34.0,New Jersey,US,United States,21,6,669,1,2015,1,1,6,L,IF,NaN
2,0,1,2169,11,2,0,0,1210,0,0,10Q,21407,Swiss Air Ambulance,71084,I,10Q,Swiss Air Ambulance,0,0,12889,1288903,32211,LAS,"Las Vegas, NV",NV,32.0,Nevada,US,United States,85,13256,1325602,33256,MFE,"Mission/McAllen/Edinburg, TX",TX,48.0,Texas,US,United States,74,6,669,1,2015,1,1,3,L,DF,NaN
3,0,1,1342,11,1,0,0,2316,0,0,10Q,21407,Swiss Air Ambulance,71084,I,10Q,Swiss Air Ambulance,0,0,13256,1325602,33256,MFE,"Mission/McAllen/Edinburg, TX",TX,48.0,Texas,US,United States,74,16085,1608503,36085,YHZ,"Halifax, Canada",NS,NaN,Nova Scotia,CA,Canada,951,6,669,1,2015,1,1,5,L,IF,NaN
4,0,1,275,11,1,0,0,1023,0,0,10Q,21407,Swiss Air Ambulance,71084,I,10Q,Swiss Air Ambulance,0,0,14027,1402702,34027,PBI,"West Palm Beach/Palm Beach, FL",FL,12.0,Florida,US,United States,33,11618,1161802,31703,EWR,"Newark, NJ",NJ,34.0,New Jersey,US,United States,21,6,669,1,2015,1,1,3,L,DF,NaN

In [61]:
accidents_2009 = pd.read_excel('/home/dani/Downloads/01_ ACCIDENTES POR TIPO EN  DISTRITOS.xls',
                          skiprows=7, skipfooter=1, parse_cols='A:K')
accidents_2009

,DISTRITO_ACCIDENTE,COLISIÓN DOBLE,COLISIÓN MÚLTIPLE,CHOQUE CON OBJETO FIJO,ATROPELLO,VUELCO,CAÍDA MOTOCICLETA,CAÍDA CICLOMOTOR,CAÍDA BICICLETA,CAÍDA VIAJERO BUS,OTRAS CAUSAS
0,ARGANZUELA,389,54,126,75,9.0,43,9,4.0,5,8
1,BARAJAS,89,6,53,21,NaN,12,2,1.0,2,2
2,CARABANCHEL,375,44,171,137,8.0,36,13,6.0,9,8
3,CENTRO,514,55,171,143,NaN,61,12,3.0,10,12
4,CHAMARTIN,494,70,133,92,10.0,72,22,2.0,6,7
5,CHAMBERI,414,35,87,87,3.0,51,12,4.0,4,5
6,CIUDAD LINEAL,398,64,124,101,3.0,57,17,5.0,4,4
7,FUENCARRAL-EL PARDO,321,47,151,78,11.0,34,16,7.0,2,8
8,HORTALEZA,215,16,109,58,3.0,29,13,7.0,4,4
9,LATINA,298,40,134,85,7.0,24,10,2.0,9,11
10,MONCLOA-ARAVACA,340,57,210,71,11.0,48,8,7.0,1,13
11,MORATALAZ,151,26,59,40,NaN,23,3,2.0,3,4
12,PUENTE DE VALLECAS,367,54,196,122,8.0,22,14,2.0,5,11
13,RETIRO,369,59,74,51,4.0,48,10,8.0,6,6
14,SALAMANCA,535,56,122,104,3.0,107,31,NaN,5,2
15,SAN BLAS,301,29,88,66,3.0,20,10,3.0,2,5
16,TETUAN,338,23,115,101,1.0,42,15,5.0,7,8
17,USERA,214,24,96,53,1.0,13,2,1.0,4,3
18,VICALVARO,86,6,39,15,6.0,9,4,3.0,2,2
19,VILLA DE VALLECAS,142,6,67,36,3.0,8,4,1.0,2,3
20,VILLAVERDE,148,19,65,46,4.0,9,4,3.0,1,8

In [63]:
accidents_2010 = pd.read_excel('/home/dani/Downloads/01_ ACCIDENTES POR TIPO EN  DISTRITOS.xls',
                          skiprows=7, skipfooter=1, parse_cols='A:K', sheetname="2010")

accidents_2010

,DISTRITO_ACCIDENTE,COLISIÓN DOBLE,COLISIÓN MÚLTIPLE,CHOQUE CON OBJETO FIJO,ATROPELLO,VUELCO,CAÍDA MOTOCICLETA,CAÍDA CICLOMOTOR,CAÍDA BICICLETA,CAÍDA VIAJERO BUS,OTRAS CAUSAS
0,ARGANZUELA,403,48,103,75,7,26,15.0,2.0,5.0,6.0
1,BARAJAS,62,5,34,22,1,11,NaN,NaN,NaN,NaN
2,CARABANCHEL,357,35,133,114,7,22,14.0,6.0,7.0,1.0
3,CENTRO,546,43,142,169,2,60,14.0,9.0,13.0,9.0
4,CHAMARTIN,460,67,128,85,11,77,16.0,1.0,8.0,5.0
5,CHAMBERI,361,34,86,103,1,66,14.0,5.0,2.0,4.0
6,CIUDAD LINEAL,404,79,120,90,8,39,12.0,6.0,7.0,2.0
7,FUENCARRAL-EL PARDO,294,49,165,72,10,26,9.0,6.0,3.0,2.0
8,HORTALEZA,183,15,68,44,4,11,8.0,4.0,3.0,3.0
9,LATINA,273,37,93,94,6,24,4.0,7.0,10.0,4.0
10,MONCLOA-ARAVACA,350,47,177,75,10,45,9.0,6.0,9.0,11.0
11,MORATALAZ,127,21,58,33,6,13,5.0,2.0,2.0,1.0
12,PUENTE DE VALLECAS,324,44,157,107,7,20,9.0,3.0,8.0,7.0
13,RETIRO,349,55,33,57,2,45,12.0,7.0,7.0,5.0
14,SALAMANCA,506,44,131,89,6,89,19.0,1.0,9.0,6.0
15,SAN BLAS,274,27,62,66,2,22,6.0,2.0,5.0,2.0
16,TETUAN,331,25,87,89,3,47,13.0,6.0,4.0,3.0
17,USERA,178,36,78,78,4,14,2.0,4.0,NaN,4.0
18,VICALVARO,65,4,60,22,3,16,NaN,1.0,1.0,5.0
19,VILLA DE VALLECAS,124,9,63,32,8,9,3.0,1.0,NaN,3.0
20,VILLAVERDE,147,21,58,54,2,9,4.0,2.0,2.0,1.0

#### Exercise

Consolidate the excel into one DataFrame: you will need to create a 'YEAR' column. Think how you can iterate through all the DataFrames. Think also where you can take the value of 'YEAR' from.

In [111]:
sheets = pd.read_excel('/home/dani/Downloads/01_ ACCIDENTES POR TIPO EN  DISTRITOS.xls',
                       skiprows=7, skipfooter=1, parse_cols='A:K', 
                       sheetname=None)

result = []

for name in sheets.keys():
    
    year = int(name)
    
    skiprows = 4 if year == 2013 else 7
    
    this_sheet = pd.read_excel('/home/dani/Downloads/01_ ACCIDENTES POR TIPO EN  DISTRITOS.xls',
                       skiprows=skiprows, skipfooter=1, parse_cols='A:K', 
                       sheetname=name)
    
    this_sheet['YEAR'] = year
    result.append(this_sheet)
    
whole_df = pd.concat(result)

whole_df.sample(3)

,DISTRITO_ACCIDENTE,COLISIÓN DOBLE,COLISIÓN MÚLTIPLE,CHOQUE CON OBJETO FIJO,ATROPELLO,VUELCO,CAÍDA MOTOCICLETA,CAÍDA CICLOMOTOR,CAÍDA BICICLETA,CAÍDA VIAJERO BUS,OTRAS CAUSAS,YEAR
7,FUENCARRAL-EL PARDO,317,49,141,78,18.0,36,11.0,11.0,4.0,5.0,2012
17,USERA,182,23,81,63,1.0,10,5.0,4.0,5.0,4.0,2012
5,CHAMBERI,414,30,67,91,1.0,87,9.0,7.0,4.0,5.0,2013

In [99]:
whole_df.loc[1]

,DISTRITO_ACCIDENTE,COLISIÓN DOBLE,COLISIÓN MÚLTIPLE,CHOQUE CON OBJETO FIJO,ATROPELLO,VUELCO,CAÍDA MOTOCICLETA,CAÍDA CICLOMOTOR,CAÍDA BICICLETA,CAÍDA VIAJERO BUS,OTRAS CAUSAS,YEAR
1,BARAJAS,89,6,53,21,NaN,12,2.0,1.0,2.0,2.0,2009
1,BARAJAS,62,5,34,22,1.0,11,NaN,NaN,NaN,NaN,2010
1,BARAJAS,78,3,44,30,3.0,9,3.0,NaN,1.0,NaN,2011
1,BARAJAS,82,5,36,19,2.0,7,3.0,2.0,NaN,3.0,2012
1,BARAJAS,70,4,30,28,1.0,10,4.0,1.0,2.0,NaN,2013
1,BARAJAS,76,1,37,20,2.0,5,2.0,2.0,NaN,1.0,2014
1,BARAJAS,77,2,44,24,4.0,18,5.0,7.0,3.0,1.0,2015
1,BARAJAS,95,6,50,34,4.0,12,2.0,4.0,2.0,4.0,2016